In [15]:
import pandas as pd

In [17]:
device_loc_data = pd.read_csv(r"dataset/Device_Location.csv")

In [18]:
device_loc_data.head(5)

,Strategy,DMA Name,Browser,Operating System,Creative Size,Device Type,Device Make,Device Model,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost
0,Mobile_2P_Pixel Converters_Optimized Targeting,"Chicago, Illinois",Google Chrome,Android 10.0,320x50,Smart Phone,Generic (All Models),Unknown,968206.0,364.0,6.0,1790.812313,574.850752
1,Mobile_2P_Pixel Converters_Optimized Targeting,"Atlanta, Georgia",Google Chrome,Android 10.0,320x50,Smart Phone,Generic (All Models),Unknown,654747.0,307.0,13.0,1266.472752,406.537753
2,Mobile_2P_Pixel Converters_Optimized Targeting,"Chicago, Illinois",Google Chrome,Android 10.0,320x50,Smart Phone,Wiko (All Models),Wiko K-KOOL,558213.0,246.0,28.0,1065.355671,341.979170
3,Mobile_RON,"Chicago, Illinois",Google Chrome,Android 10.0,300x250,Smart Phone,Generic (All Models),Unknown,506702.0,136.0,4.0,615.200491,197.479358
4,Mobile_2P_Pixel Converters_Optimized Targeting,"Detroit, Michigan",Google Chrome,Android 10.0,320x50,Smart Phone,Generic (All Models),Unknown,506374.0,178.0,22.0,912.069447,292.774293

In [19]:
device_loc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464434 entries, 0 to 464433
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Strategy           464433 non-null  object
 1   DMA Name           464433 non-null  object
 2   Browser            464433 non-null  object
 3   Operating System   464433 non-null  object
 4   Creative Size      464433 non-null  object
 5   Device Type        464433 non-null  object
 6   Device Make        464433 non-null  object
 7   Device Model       464433 non-null  object
 8   Impressions        464433 non-null  float64
 9   Clicks             464433 non-null  float64
 10  Total Conversions  464433 non-null  float64
 11  Gross Cost         464433 non-null  float64
 12  Net Cost           464433 non-null  float64
dtypes: float64(5), object(8)
memory usage: 46.1+ MB

In [20]:
device_loc_data.describe()

,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost
count,464433.000000,464433.000000,464433.000000,464433.000000,464433.000000
mean,153.023939,0.072351,0.002915,0.263574,0.084607
std,3474.842331,1.316353,0.146267,5.918069,1.899700
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.001619,0.000520
50%,4.000000,0.000000,0.000000,0.005172,0.001660
75%,16.000000,0.000000,0.000000,0.024769,0.007951
max,968206.000000,364.000000,32.000000,1790.812313,574.850752

In [21]:
device_loc_data.shape

(464434, 13)

In [22]:
device_loc_data.dtypes

Strategy              object
DMA Name              object
Browser               object
Operating System      object
Creative Size         object
Device Type           object
Device Make           object
Device Model          object
Impressions          float64
Clicks               float64
Total Conversions    float64
Gross Cost           float64
Net Cost             float64
dtype: object

In [23]:
device_loc_data.columns

Index(['Strategy', 'DMA Name', 'Browser', 'Operating System', 'Creative Size',
       'Device Type', 'Device Make', 'Device Model', 'Impressions', 'Clicks',
       'Total Conversions', 'Gross Cost', 'Net Cost'],
      dtype='object')

In [24]:
device_loc_data.isna().sum()

Strategy             1
DMA Name             1
Browser              1
Operating System     1
Creative Size        1
Device Type          1
Device Make          1
Device Model         1
Impressions          1
Clicks               1
Total Conversions    1
Gross Cost           1
Net Cost             1
dtype: int64

In [25]:
null_lines = device_loc_data.loc[:, 'Browser'].isna()
device_loc_data.loc[null_lines,:].head()

,Strategy,DMA Name,Browser,Operating System,Creative Size,Device Type,Device Make,Device Model,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost
464433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
device_loc_data = device_loc_data.fillna({
    "Strategy":"Unknown",
    "DMA Name":"Unknown",
    "Browser":"Unknown",
    "Operating System":"Unknown",
    "Creative Size":"Unknown",
    "Device Type":"Unknown",
    "Device Make":"Unknown",
    "Device Model":"Unknown",
    "Impressions":0.00,
    "Clicks":0.00,
    "Total Conversions":0.00,
    "Gross Cost":0.00,
    "Net Cost":0.00
    })

In [27]:
device_loc_data.isna().sum()

Strategy             0
DMA Name             0
Browser              0
Operating System     0
Creative Size        0
Device Type          0
Device Make          0
Device Model         0
Impressions          0
Clicks               0
Total Conversions    0
Gross Cost           0
Net Cost             0
dtype: int64

In [28]:
inventory_data = pd.read_csv("dataset/Inventory.csv", encoding="windows-1254")

In [29]:
inventory_data.head()

,Brand/Company Name,Strategy,App/URL,Exchange,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost,Viewable Impressions,Measurable Impressions
0,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,BidSwitch,4.0,0.0,0.0,0.008026,0.002576,1.0,4.0
1,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,Google Ad Manager,1.0,0.0,0.0,0.000592,0.000190,0.0,0.0
2,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,Magnite DV+,7.0,0.0,0.0,0.012468,0.004002,2.0,6.0
3,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,OpenX,2.0,0.0,0.0,0.005347,0.001716,1.0,1.0
4,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,PubMatic,7.0,0.0,0.0,0.023199,0.007447,2.0,5.0

In [30]:
# Check the null lines
inventory_data.size

11412148

In [31]:
inventory_data.loc[inv_null,:]

Brand/Company Name           Choose your advertiser name
Strategy                  Desktop_2P_Affinity Categories
App/URL                                        01net.com
Exchange                                     Magnite DV+
Impressions                                          7.0
Clicks                                               0.0
Total Conversions                                    0.0
Gross Cost                                      0.012468
Net Cost                                        0.004002
Viewable Impressions                                 2.0
Measurable Impressions                               6.0
Name: 2, dtype: object

In [32]:
inventory_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037468 entries, 0 to 1037467
Data columns (total 11 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Brand/Company Name      1037466 non-null  object
 1   Strategy                1037466 non-null  object
 2   App/URL                 1037466 non-null  object
 3   Exchange                1037466 non-null  object
 4   Impressions             1037466 non-null  float64
 5   Clicks                  1037466 non-null  float64
 6   Total Conversions       1037466 non-null  float64
 7   Gross Cost              1037466 non-null  float64
 8   Net Cost                1037466 non-null  float64
 9   Viewable Impressions    1037466 non-null  float64
 10  Measurable Impressions  1037466 non-null  float64
dtypes: float64(7), object(4)
memory usage: 87.1+ MB

In [33]:
inventory_data = inventory_data.fillna({
    "Brand/Company Name":"Unknown",
    "Strategy":"Unknown",
    "App/URL":"Unknown",
    "Exchange":"Unknown",
    "Impressions":0.00,
    "Clicks":0.00,
    "Total Conversions":0.00,
    "Gross Cost":0.00,
    "Net Cost":0.00,
    "Viewable Impressions":0.00,
    "Measurable Impressions":0.00
})

In [34]:
inventory_data.isna().sum()

Brand/Company Name        0
Strategy                  2
App/URL                   0
Exchange                  0
Impressions               0
Clicks                    0
Total Conversions         0
Gross Cost                0
Net Cost                  0
Viewable Impressions      0
Measurable Impressions    0
dtype: int64

In [38]:
audience_report_data = pd.read_csv("dataset/Audience_Report.csv")

In [39]:
audience_report_data.head()

,Brand/Company Name,Audience Segment,Audience List Type,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost
0,Choose your advertiser name,Voluntary Churn Likely_60 Days,First Party,545624.0,93.0,0.0,840.207946,269.706751
1,Choose your advertiser name,12 Years a Slave (2013) - Trailers,First Party,1.0,0.0,0.0,0.000390,0.000125
2,Choose your advertiser name,14-Day Purchasers,First Party,622.0,0.0,0.0,2.001355,0.642435
3,Choose your advertiser name,170920 - NBCNews - liked,First Party,12347.0,2.0,0.0,21.549243,6.917307
4,Choose your advertiser name,170920 - NBCNews - playlist,First Party,5202.0,-1.0,0.0,9.127297,2.929862

In [40]:
audience_report_data.isna().sum()

Brand/Company Name    1
Audience Segment      1
Audience List Type    1
Impressions           1
Clicks                1
Total Conversions     1
Gross Cost            1
Net Cost              1
dtype: int64

In [41]:
audience_report_data = audience_report_data.fillna({
    "Brand/Company Name":"Unknown",
    "Audience Segment":"Unknown",
    "Audience List Type":"Unknown",
    "Impressions":0.00,
    "Clicks":0.00,
    "Total Conversions":0.00,
    "Gross Cost":0.00,
    "Net Cost":0.00
})

In [42]:
audience_report_data.isna().sum()

Brand/Company Name    0
Audience Segment      0
Audience List Type    0
Impressions           0
Clicks                0
Total Conversions     0
Gross Cost            0
Net Cost              0
dtype: int64

In [43]:
audience_report_data.shape

(1432, 8)

In [44]:
#audience_report_data.to_csv(index=False)

In [46]:
audience_report = pd.read_csv("dataset/audience_report_data.csv")

In [47]:
audience_report.head()

,Unnamed: 0,Brand/Company Name,Audience Segment,Audience List Type,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost
0,0,Choose your advertiser name,Voluntary Churn Likely_60 Days,First Party,545624.0,93.0,0.0,840.207946,269.706751
1,1,Choose your advertiser name,12 Years a Slave (2013) - Trailers,First Party,1.0,0.0,0.0,0.000390,0.000125
2,2,Choose your advertiser name,14-Day Purchasers,First Party,622.0,0.0,0.0,2.001355,0.642435
3,3,Choose your advertiser name,170920 - NBCNews - liked,First Party,12347.0,2.0,0.0,21.549243,6.917307
4,4,Choose your advertiser name,170920 - NBCNews - playlist,First Party,5202.0,-1.0,0.0,9.127297,2.929862

In [48]:
audience_report.isna().sum()

Unnamed: 0            0
Brand/Company Name    0
Audience Segment      0
Audience List Type    0
Impressions           0
Clicks                0
Total Conversions     0
Gross Cost            0
Net Cost              0
dtype: int64

In [50]:
modified_inventory_data = pd.read_csv("dataset/Inventory_modified.csv", encoding="windows-1254")
modified_inventory_data.head()

,Brand/Company Name,Strategy,App/URL,Exchange,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost,Viewable Impressions,Measurable Impressions
0,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,BidSwitch,4.0,0.0,0.0,0.008026,0.002576,1.0,4.0
1,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,Google Ad Manager,1.0,0.0,0.0,0.000592,0.000190,0.0,0.0
2,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,Magnite DV+,7.0,0.0,0.0,0.012468,0.004002,2.0,6.0
3,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,OpenX,2.0,0.0,0.0,0.005347,0.001716,1.0,1.0
4,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,PubMatic,7.0,0.0,0.0,0.023199,0.007447,2.0,5.0

In [51]:
modified_inventory_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037466 entries, 0 to 1037465
Data columns (total 11 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Brand/Company Name      1035855 non-null  object
 1   Strategy                1035855 non-null  object
 2   App/URL                 1035855 non-null  object
 3   Exchange                1035855 non-null  object
 4   Impressions             1035855 non-null  float64
 5   Clicks                  1035855 non-null  float64
 6   Total Conversions       1035855 non-null  float64
 7   Gross Cost              1035855 non-null  float64
 8   Net Cost                1035855 non-null  float64
 9   Viewable Impressions    1035855 non-null  float64
 10  Measurable Impressions  1035854 non-null  float64
dtypes: float64(7), object(4)
memory usage: 87.1+ MB

In [52]:
modified_inventory_data.describe()

,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost,Viewable Impressions,Measurable Impressions
count,1.035855e+06,1.035855e+06,1.035855e+06,1.035855e+06,1.035855e+06,1.035855e+06,1.035854e+06
mean,1.843930e+02,4.211690e-02,5.118477e-03,2.692228e-01,8.642052e-02,8.336962e+01,1.552381e+02
std,8.594999e+03,1.677090e+00,3.520554e-01,1.081934e+01,3.473009e+00,4.843514e+03,7.444010e+03
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,0.000000e+00,0.000000e+00,1.653000e-03,5.306130e-04,1.000000e+00,1.000000e+00
50%,4.000000e+00,0.000000e+00,0.000000e+00,4.766000e-03,1.529886e-03,2.000000e+00,3.000000e+00
75%,1.500000e+01,0.000000e+00,0.000000e+00,2.040200e-02,6.549042e-03,6.000000e+00,1.200000e+01
max,4.154911e+06,5.820000e+02,1.540000e+02,3.807330e+03,1.222153e+03,2.338732e+06,3.445626e+06

In [53]:
#modified_inventory_data.set_option('display.float_format', lambda x: '%.2f' % x)
modified_inventory_data.dtypes

Brand/Company Name         object
Strategy                   object
App/URL                    object
Exchange                   object
Impressions               float64
Clicks                    float64
Total Conversions         float64
Gross Cost                float64
Net Cost                  float64
Viewable Impressions      float64
Measurable Impressions    float64
dtype: object

In [54]:
modified_inventory_data.isna().sum()

Brand/Company Name        1611
Strategy                  1611
App/URL                   1611
Exchange                  1611
Impressions               1611
Clicks                    1611
Total Conversions         1611
Gross Cost                1611
Net Cost                  1611
Viewable Impressions      1611
Measurable Impressions    1612
dtype: int64

In [55]:
modified_inventory_data.isnull().sum()

Brand/Company Name        1611
Strategy                  1611
App/URL                   1611
Exchange                  1611
Impressions               1611
Clicks                    1611
Total Conversions         1611
Gross Cost                1611
Net Cost                  1611
Viewable Impressions      1611
Measurable Impressions    1612
dtype: int64

In [56]:
modified_inventory_data.nunique()

Brand/Company Name             1
Strategy                      12
App/URL                    50272
Exchange                      25
Impressions                 7863
Clicks                       123
Total Conversions             44
Gross Cost                175577
Net Cost                  175577
Viewable Impressions        5220
Measurable Impressions      7178
dtype: int64

In [57]:
modified_inventory_data.sort_values(by='Clicks', ascending=False).head()

,Brand/Company Name,Strategy,App/URL,Exchange,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost,Viewable Impressions,Measurable Impressions
782816,Choose your advertiser name,Mobile_2P_Pixel Converters_Optimized Targeting,cbsnews.com,Google Ad Manager,134847.0,582.0,11.0,653.371822,209.732355,104268.0,128470.0
634295,Choose your advertiser name,Mobile_2P_Custom Intent/Affinity,cbsnews.com,Google Ad Manager,115544.0,491.0,1.0,591.126960,189.751754,79182.0,109463.0
681989,Choose your advertiser name,Mobile_2P_Custom Intent/Affinity,the-sun.com,Google Ad Manager,357707.0,444.0,18.0,1302.871603,418.221785,203987.0,338107.0
979031,Choose your advertiser name,Mobile_RON,mobileposse.com,BidSwitch,367188.0,410.0,0.0,452.552840,145.269462,98299.0,398040.0
880333,Choose your advertiser name,Mobile_2P_Pixel Converters_Optimized Targeting,taboolanews.com,Magnite DV+,217824.0,339.0,16.0,598.168898,192.012216,75089.0,179723.0

In [58]:
modified_inventory_data.corr()

,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost,Viewable Impressions,Measurable Impressions
Impressions,1.000000,0.500668,0.774383,0.885671,0.885671,0.964329,0.995894
Clicks,0.500668,1.000000,0.387519,0.602217,0.602217,0.491505,0.510053
Total Conversions,0.774383,0.387519,1.000000,0.797087,0.797087,0.762009,0.781429
Gross Cost,0.885671,0.602217,0.797087,1.000000,1.000000,0.847514,0.894058
Net Cost,0.885671,0.602217,0.797087,1.000000,1.000000,0.847514,0.894058
Viewable Impressions,0.964329,0.491505,0.762009,0.847514,0.847514,1.000000,0.970751
Measurable Impressions,0.995894,0.510053,0.781429,0.894058,0.894058,0.970751,1.000000

In [59]:
modified_inventory_data.groupby('Exchange').mean()

,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost,Viewable Impressions,Measurable Impressions
Exchange,,,,,,,
Adform,4.206294,0.010490,0.000000,0.001844,0.000592,2.430070,3.653846
BidSwitch,290.568928,0.058278,0.005451,0.352856,0.113267,127.308484,244.778722
Fluct,12.942028,0.001970,0.000000,0.016629,0.005338,4.903836,10.817092
Google Ad Manager,249.118234,0.081107,0.009103,0.437000,0.140277,135.504485,228.596016
GumGum,14.627081,0.001907,0.000367,0.015713,0.005044,6.135553,12.853591
Improve Digital,14.113195,0.002074,0.000000,0.014399,0.004622,5.708388,10.022620
InMobi,2.454545,0.000000,0.000000,0.003914,0.001256,0.804196,1.930070
Index Exchange,118.479470,0.015221,0.003910,0.142749,0.045823,41.832208,85.876659
Kargo,41.906506,0.009159,0.000763,0.057753,0.018539,15.792215,35.342683
Magnite DV+,194.192397,0.031910,0.004483,0.320043,0.102734,58.450185,140.669423
MicroAd,1.200000,0.000000,0.000000,0.000316,0.000101,0.000000,0.400000
OpenX,72.842567,0.010062,0.002205,0.071589,0.022980,21.433201,58.026971
PubMatic,195.579449,0.046469,0.005438,0.355611,0.114151,88.209755,167.739073
PulsePoint,57.274805,0.010073,0.000483,0.086974,0.027919,28.314494,46.516617
Sharethrough,23.292835,0.003020,0.000381,0.026496,0.008505,5.969833,19.614788
Smart RTB+ (Smartadserver),37.781283,0.004864,0.000903,0.036056,0.011574,11.419395,28.608078
Sovrn,55.365912,0.003287,0.000956,0.052445,0.016835,14.604656,27.219632
StrÃ¶er SSP,1.857143,0.000000,0.000000,0.000510,0.000164,0.285714,0.285714
Taboola,862.547985,0.247421,0.008565,1.072954,0.344418,139.906755,719.861592
TeadsTv,14.408741,0.000000,0.000000,0.016130,0.005178,0.000208,0.000000
TripleLift,89.605708,0.009002,0.002055,0.084211,0.027032,32.838911,69.897913
Xandr - Monetize SSP (AppNexus),466.754007,0.054398,0.013232,0.372914,0.119705,258.034604,368.025065
Yahoo Exchange,266.982558,0.033249,0.005577,0.232405,0.074602,124.415262,219.451572
Yieldlab,15.463415,0.008130,0.000000,0.009599,0.003081,10.951220,13.764228
Yieldmo,32.035469,0.005489,0.001074,0.037831,0.012144,13.741095,25.645248

In [60]:
#modified_inventory_data[modified_inventory_data['Exchange'].str.contains('Google Ad Manager')]

In [61]:
modified_inventory_data.dtypes

Brand/Company Name         object
Strategy                   object
App/URL                    object
Exchange                   object
Impressions               float64
Clicks                    float64
Total Conversions         float64
Gross Cost                float64
Net Cost                  float64
Viewable Impressions      float64
Measurable Impressions    float64
dtype: object

In [62]:
modified_inventory_data.select_dtypes(include='number')

,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost,Viewable Impressions,Measurable Impressions
0,4.0,0.0,0.0,0.008026,0.002576,1.0,4.0
1,1.0,0.0,0.0,0.000592,0.000190,0.0,0.0
2,7.0,0.0,0.0,0.012468,0.004002,2.0,6.0
3,2.0,0.0,0.0,0.005347,0.001716,1.0,1.0
4,7.0,0.0,0.0,0.023199,0.007447,2.0,5.0
...,...,...,...,...,...,...,...
1037461,1.0,0.0,0.0,0.000282,0.000091,0.0,1.0
1037462,1.0,0.0,0.0,0.002161,0.000694,1.0,1.0
1037463,1.0,0.0,0.0,0.001806,0.000580,0.0,1.0
1037464,1.0,0.0,0.0,0.000050,0.000016,0.0,1.0
1037465,1.0,0.0,0.0,0.000091,0.000029,1.0,1.0

In [63]:
modified_inventory_data.select_dtypes(include='object')

,Brand/Company Name,Strategy,App/URL,Exchange
0,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,BidSwitch
1,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,Google Ad Manager
2,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,Magnite DV+
3,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,OpenX
4,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,PubMatic
...,...,...,...,...
1037461,Choose your advertiser name,Mobile_RON,zwivel.com,Google Ad Manager
1037462,Choose your advertiser name,Mobile_RON,zx6r.com,PubMatic
1037463,Choose your advertiser name,Mobile_RON,zycrypto.com,BidSwitch
1037464,Choose your advertiser name,Mobile_RON,zynga.com,Index Exchange
1037465,Choose your advertiser name,Mobile_RON,zynga.com,OpenX

In [64]:
missing = modified_inventory_data.loc[:,'Clicks'].isna()
modified_inventory_data.loc[missing,:].head()

,Brand/Company Name,Strategy,App/URL,Exchange,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost,Viewable Impressions,Measurable Impressions
674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
modified_inventory_data.shape

(1037466, 11)

In [66]:
clean_inventory_data = modified_inventory_data.dropna().reset_index(drop=True)

In [67]:
clean_inventory_data.head()

,Brand/Company Name,Strategy,App/URL,Exchange,Impressions,Clicks,Total Conversions,Gross Cost,Net Cost,Viewable Impressions,Measurable Impressions
0,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,BidSwitch,4.0,0.0,0.0,0.008026,0.002576,1.0,4.0
1,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,Google Ad Manager,1.0,0.0,0.0,0.000592,0.000190,0.0,0.0
2,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,Magnite DV+,7.0,0.0,0.0,0.012468,0.004002,2.0,6.0
3,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,OpenX,2.0,0.0,0.0,0.005347,0.001716,1.0,1.0
4,Choose your advertiser name,Desktop_2P_Affinity Categories,01net.com,PubMatic,7.0,0.0,0.0,0.023199,0.007447,2.0,5.0

In [68]:
clean_inventory_data.isna().sum()

Brand/Company Name        0
Strategy                  0
App/URL                   0
Exchange                  0
Impressions               0
Clicks                    0
Total Conversions         0
Gross Cost                0
Net Cost                  0
Viewable Impressions      0
Measurable Impressions    0
dtype: int64

In [69]:
#modified_inventory_data[modified_inventory_data['Exchange'].str.contains('Google Ad Manager')]

In [70]:
#clean_inventory_data = pd.DataFrame(clean_inventory_data)
url = clean_inventory_data.loc[:,'App/URL'].value_counts()
url.sort_values(ascending=False)
url.head(10)

dailymail.co.uk/news    197
thestreet.com           194
omnicalculator.com      189
usnews.com              187
cbsnews.com             187
the-sun.com             186
ranker.com              185
investing.com           185
screenrant.com          184
heraldweekly.com        184
Name: App/URL, dtype: int64

In [71]:
url.count()

50272